.root {
  position: absolute;
  left: 140px;
  top: 820px;
  width: 467px;
  height: 394px;
  align-items: flex-start;
}
.objectOther18 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image:/* webpackIgnore: true */ url('assets/objectOther18.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
